.search-category__box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 10px; */
}

.search-category__card {
  box-sizing: border-box;
  /* width: 100px; */
  margin: 10px 10px;

  /* border: 1px solid black; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* color: white; */
  /* background-image: url('../assets/img/track.jpg');
  background-position: center;
  background-size: cover; */
}

.search-category__link {
  /* border: 1px solid black; */
  font-size: 0.9rem;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 0.9rem;
}
