.CardList {
  border: 0.1rem solid black;
  display: flex;
  height: 20rem;
  margin-left: 400px;
  margin-right: 70px;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}
