/* HOME PAGE ---------------------- */

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 2rem;
  height: 70vh;
}

.home__main-header {
  font-weight: 400;
  font-size: 3rem;
}

.home__main-text {
  background-color: #939a90;
}

.home__strong-text {
  font-weight: 700;
}

.home__quote {
  margin: 2rem;
  font-size: 2rem;
  font-weight: 300;
  align-self: flex-end;
}

/* ARTICLE PAGE ---------------------- */
.article__containter {
  display: flex;
  flex-direction: column;
  margin: 1rem 6rem;
}

.article__header {
  color: white;
  font-size: 1.7rem;
  padding: 15px;
}

.article__content {
  margin: 0;
  padding: 5px 20px;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}

.article__content a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}

.article__btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.article__btn {
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: 1px dashed white;
  border-radius: 5px;
}

.article__btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.article__btn .see-all-btn {
  width: 150px;
  text-decoration: none;
  margin-top: 10px;
}

.article__btn .back-to-top-btn {
  width: 100px;
}

@media (max-width: 800px) {
  .article__containter {
    margin: 1rem 2rem;
  }
}

/* ALL ARTICLES PAGE ------------- */
.all-articles__container {
  margin: 2rem;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
