.article-card__container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 150px;
  height: 120px;
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  display: flex;
  color: white;
}

.article-card__container article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-card__container h3 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
}

.article-card__container p {
  font-weight: 300;
}

.article-card__link {
  text-decoration: none;
  color: rgb(102, 109, 92);
}
