.btn {
  padding: 7px;
  margin-bottom: 20px;
  font-size: 1.5em;
  width: 170px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  /* justify-content: space-evenly; */
}

.iconBtn {
  width: 25px;
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
  filter: invert();
}

/* .searchBtn {
  background-color: var(--secondary);
  color: white;
  border: none;
} */

/* .searchBtn:hover {
  background-color: var(--secondary-hover);
}

.searchBtn:active {
  background-color: var(--secondary-active);
} */

.resetBtn {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border: none;
}

.resetBtn:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

.resetBtn:active {
  background-color: rgba(0, 0, 0, 0.35);
}
