.btn {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  width: 75%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.iconBtn {
  width: 30px;
  color: grey;
  padding-left: 15px;
  padding-right: 20px;
}

.searchBtn {
  background-color: var(--secondary);
  color: white;
  border: none;
}

.searchBtn:hover {
  background-color: var(--secondary-hover);
}

.searchBtn:active {
  background-color: var(--secondary-active);
}

.resetBtn {
  color: var(--neutral-dark);
  background-color: var(--neutral-button);
  border: none;
}

.resetBtn:hover {
  background-color: var(--neutral-hover);
}

.resetBtn:active {
  background-color: var(--neutral-active);
}
