/* MAIN OPTION ITEM CATEGORY STYLE
(for icon, heading, arrow to expand)   */

.CategoryItemBox {
  padding: 10px;
  height: 8vh;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  width: 50%;
  border-top: 2px solid var(--secondary);
}

.CategoryItemBox:hover {
  background-color: var(--secondary-lighter);
}

.icon-categories {
  width: 50px;
  text-align: center;
}

.optionHeading {
  margin-left: 20px;
  width: 12rem;
}

/* SUBMENU STYLES: -------------- */
/* 
.hidden {
  display: none;
} */
/* 
.box_submenu {
  box-sizing: border-box;
  margin-left: 1rem;
  width: 85%;
  padding-bottom: 15px;
} */
/* 
.search-input_submenu {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--secondary);
  margin: 15px 0 5px 0;
}

.search-input_submenu:focus {
  outline: none;
  border: 1px solid var(--secondary);
  box-shadow: 0 0 7px var(--secondary-light);
}

.search-input_submenu::placeholder {
  color: var(--secondary-dark);
}

.search-input_submenu:focus::placeholder {
  color: var(--secondary);
} */

.checkboxes_submenu {
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  max-height: 200px;
  width: 50%;
  flex-direction: row;
  /* overflow-y: scroll;
  scrollbar-color: var(--secondary) var(--neutral-lighter);
  scrollbar-width: thin;
  scrollbar-gutter: stable; */
}

.checkbox-single_submenu {
  box-sizing: border-box;
  width: 50%;
  padding: 4px 0;
}

.checkbox-single_submenu label {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.checkbox-single_submenu label:hover {
  background-color: var(--neutral-lighter);
}

.checkbox-single_submenu input {
  margin-right: 10px;
  cursor: pointer;
}

/* custom checkmark */
input[type='checkbox'] {
  appearance: none;
  background-color: white;
  margin-right: 5px;
  font: inherit;
  width: 1.1em;
  height: 1.1em;
  border: 0.1em solid var(--neutral-dark);
  /* OPTION 1) border radius to form a circle: */
  border-radius: 0.5em;
  /* OPTION 2) border radius to form a rounded square: */
  /* border-radius: 0.15em; */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--neutral-dark);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
