/* MAIN OPTION ITEM CATEGORY STYLE */

.CategoryItemBox {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 200px;
  display: flex;
  justify-content: center;
}

.category-heading-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.optionHeading {
  display: flex;
  padding-left: 20px;
  font-size: 1rem;
  align-items: center;
}

.checkboxes_submenu {
  box-sizing: border-box;
  font-weight: 100;
  font-size: 15px;
  max-height: 200px;
  width: 100%;
  flex-direction: row;
  /* overflow-y: scroll;
  scrollbar-color: var(--secondary) var(--neutral-lighter);
  scrollbar-width: thin;
  scrollbar-gutter: stable; */
}

.checkbox-single_submenu {
  box-sizing: border-box;
  /* width: 70%; */
  padding: 4px 0;
  padding-left: 35px;
}

.checkbox-single_submenu:hover {
  background: linear-gradient(to right, #28372b80, #4d564f63);
}

.checkbox-single_submenu label {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.checkbox-single_submenu input {
  margin-right: 10px;
  cursor: pointer;
}

/* custom checkmark */
input[type='checkbox'] {
  appearance: none;
  background-color: white;
  margin-right: 24px;
  font: inherit;
  width: 1.1em;
  height: 1.1em;
  border: 0.12em solid rgb(54, 48, 48);
  /* OPTION 1) border radius to form a circle: */
  border-radius: 0.5em;
  /* OPTION 2) border radius to form a rounded square: */
  /* border-radius: 0.15em; */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(72, 67, 67);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
