@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/RobotoCondensed.woff2') format('woff2'),
    url('../fonts/RobotoCondensed.woff') format('woff');
}

.footer-container {
  border: 1px solid var(--neutral-light);
  background-color: white;
  position: fixed;
  width: 100%;
  height: 10vh;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: end;
  align-items: center;
}

.contact-link {
  margin-right: 45px;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: var(--primary);
  font-size: 1.1rem;
  border: 1px dashed var(--primary);
  border-radius: 5px;
  background-color: white;
}

.contact-link:hover {
  background-color: var(--primary);
  color: white;
}
