.CardList {
<<<<<<< HEAD
  border: 0.1rem solid black;
  display: flex;
  height: 20rem;
  margin-left: 400px;
  margin-right: 70px;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}
=======
    border: 5px solid;
    margin: 10px;
    display: inline-flex;
}
>>>>>>> backend
