/* NAVIGATION BAR CONTAINER  ------------------------------*/
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 80px;
  box-sizing: border-box;
  z-index: 10000;
}

/* NAVBAR TITLE (LOGO)  -----------------------------------*/
.navbar__title-box {
  align-self: flex-start;
}

.navbar__title-box:hover {
  /* TBD  */
}

.navbar__title {
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.navbar__link-home {
  text-decoration: none;
  color: white;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

/* LIST OF LINKS  ----------------------------------------*/
.links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}

.links > .navbar__link {
  margin: 0 7px;
  overflow: hidden;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-out;
  border-radius: 5px;
}

.navbar__link:hover {
  box-shadow: inset 300px 0 0 0 rgb(102, 109, 92, 0.8);
}

.navbar__link:active {
  background-color: rgb(102, 109, 92);
}

/* BURGER MENU  ------------------------------------------*/
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(135deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* MEDIA QUERIES max800px ------------------------------*/
@media (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }

  .links {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #menu-toggle ~ .links .navbar__link {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .links .navbar__link {
    height: 3em;
    align-items: center;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0;
  }

  .links > .navbar__link {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: #92aa87;
    background: linear-gradient(to right, #87aa8f, #aca674);
    font-weight: 700;
    letter-spacing: 1px;
  }
  .links > .navbar__link:hover {
    box-shadow: none;
    background: #a5be99;
    background: linear-gradient(to right, #b0dab9, #c4bd86);
    color: #444;
  }

  .links > .navbar__link:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .navbar {
    height: 5rem;
  }
}

/* MEDIA QUERIES max400px ------------------------------*/
@media only screen and (max-width: 400px) {
  .navbar__title-box {
    align-self: center;
  }

  .navbar__title {
    font-size: 5vw;
  }

  .menu-button-container {
    padding: 1rem;
    height: 1rem;
  }
}
