/* SEARCH BAR No.1  ---------------------------------------------------*/
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
  width: 70%;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.searchTerm {
  width: 100%;
  border: 3px solid #758b7a;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #5b7267;
  box-sizing: border-box;
}

.searchTerm:focus {
  color: #2c342e;
}

.searchButton {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 3px solid #758b7a;
  border-left: none;
  background: #869b8b;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar__icon {
  width: 30px;
  height: 24px;
  display: flex;
  filter: invert();
}

.searchButton:hover {
  background-color: #adbeb1;
}

.searchButton:active {
  background-color: #7d8b80;
}

/*
@media (max-width: 800px) {
  .search {
     TBD 
  }
}*/

/* WRAPPERS  */
.categories-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
}

.reset-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
