@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/RobotoCondensed.woff2') format('woff2'),
    url('../fonts/RobotoCondensed.woff') format('woff');
}

.sideBarBox {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  height: 80vh;
  width: 330px;
  transition: width ease-in 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--neutral-lighter) white;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.categoriesContainer {
  padding: 0 0 10px 0;
  margin: 0;
  transition: 0.5s;
}

.sideBarHeading {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  padding-top: 12px;
  padding-bottom: 8px;
  background-color: var(--secondary);
  font-size: 1.3em;
  color: white;
}

.buttons_sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
