.OptionsItemBox {
  border: 1px solid #bdbdbd;
  padding: 10px;
  height: 10vh;
  font-size: 1.2em;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  background-color: #f5f5f5;
  /* width: 100%; */
}

.OptionsItemBox:hover {
  background-color: #009688;
}

.emoji {
  padding: 10px;
  font-size: 25px;
  box-sizing: border-box;
  width: 4rem;
  text-align: center;
}

.optionHeading {
  margin-left: 20px;
  width: 13rem;
}

.arrowDown {
  border: solid #514f4f;
  background-color: transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-right: 15px;
}

.hidden {
  display: none;
}
