@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('./fonts/RobotoCondensed.woff2') format('woff2'),
    url('./fonts/RobotoCondensed.woff') format('woff');
}

body {
  margin: 0;
  background: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
