/* @font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/RobotoCondensed.woff2') format('woff2'),
    url('./fonts/RobotoCondensed.woff') format('woff');
} */

/* Added font-weight options for font + support for different browsers */
/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-condensed-v25-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/roboto-condensed-v25-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/roboto-condensed-v25-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/roboto-condensed-v25-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/roboto-condensed-v25-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/roboto-condensed-v25-latin-300.svg#RobotoCondensed')
      format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-condensed-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/roboto-condensed-v25-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/roboto-condensed-v25-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/roboto-condensed-v25-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/roboto-condensed-v25-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed')
      format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-condensed-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/roboto-condensed-v25-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/roboto-condensed-v25-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/roboto-condensed-v25-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/roboto-condensed-v25-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed')
      format('svg'); /* Legacy iOS */
}

/* square-peg-regular - latin */
/* Logo/title font  */
@font-face {
  font-family: 'Square Peg';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/square-peg-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/square-peg-v2-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/square-peg-v2-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/square-peg-v2-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/square-peg-v2-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/square-peg-v2-latin-regular.svg#SquarePeg') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  /* background: #fff; */
  box-sizing: inherit;
  font-family: 'Roboto Condensed', sans-serif;
  /* root font size of 10px = 62.5%- to use rem units easier in other css files */
  font-size: 62.5%;
  font-weight: 400;

  background: #dad299; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
