@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/RobotoCondensed.woff2') format('woff2'),
    url('./fonts/RobotoCondensed.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  box-sizing: inherit;
  font-family: 'Roboto Condensed', sans-serif;
  /* starting default font size of 10px = 62.5% - to use rem more accurately in other css files */
  font-size: 62.5%;
}
