.testColor {
  color: rgb(45, 45, 91);
}

.displayStyle {
  display: flex;
}

.setBiggerTextTest {
  font-size: 25px;
}

#browser{
  padding-top: 1rem;
  margin-left: 25rem;
  border: 0.1rem solid;
  padding-left: 3rem;
  overflow-y: scroll;
  height: 100%;
}

.rubric{
  color: rgb(233, 132, 8);
  padding-bottom: 3rem;
  font-style: italic;
}

.Orchestras{
  color: darkgray;
}
